:root{
    --primary: #dd946f;
    --primary-hover: #cd7d7c;
    --background: #140479;
    --header-bg: #261e5a;
    --navbar-height: 60px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    color: #fff;
}

.container{
    width: 100%;
}